- if recipe.ingredients.present?
  .ingredients
    %strong Ingredients:
    - recipe.recipe_ingredients.each do |association|
      %ul
        %li
          %span
            = association.ingredient.name
            %strong= "(#{association.dose})"