.recipes-index.container
  %h1.text-center All recipes

  .recipes-list
    = link_to 'New recipe', new_recipe_path, class: 'btn btn-primary'

    = render 'list'

  = paginate @recipes, theme: 'twitter-bootstrap-3'