.col-md-4.ingredient
  .name.text-center
    %h2= ingredient.name

  = image_tag ingredient.image.url, class: 'medium-img'

  - if current_user&.admin?
    .actions.center
      = link_to 'Change image', ingredient_images_path(ingredient_id: ingredient.slug), class: 'btn btn-primary center'