.col-md-4.glass
  .name.text-center
    %h2= glass.name

  = image_tag glass.image.url, class: 'center adaptive-image'

  - if current_user&.admin?
    .actions.center
      = link_to 'Google images', glass_images_path(glass_id: glass.id), class: 'btn btn-primary center'

      = link_to 'Delete', glass_path(glass.id), method: :delete, class: 'btn btn-danger center'