.col-md-4.glass
  .name.text-center
    %h2= glass.name

  = image_tag glass.image.url, class: 'center medium-img'

  - if current_user&.admin?
    .actions.center
      = link_to 'Change image', glass_images_path(glass_id: glass.id, type: 'Glass'), class: 'btn btn-primary center'