.recipes-index
  .recipes-list
    .recipe
      margin-top: 40px
      
    .chef-avatar img
      max-width: 100px
      margin-top: 22px

.recipe-show
  .recipe
    .image img
      max-width: 100%

  .chef
    .avatar img
      max-width: 250px

.actions
  .edit, .votes
    display: inline-block

  .votes
    float: right

    a:hover
      text-decoration: none

    .like, .dislike
      display: inline-block
      margin-right: 20px

    .like-count, .dislike-count
      display: inline-block
      margin-top: 5px