.recipes-index
  .recipes-list
    .recipe
      margin-top: 40px
      
    .chef-avatar img
      max-width: 100px
      margin-top: 22px

.recipe-show
  .recipe
    .image img
      max-width: 100%

  .reviews
    margin-top: 100px
    
    .review
      margin-top: 40px

      img
        float: left

.actions
  .edit, .votes
    display: inline-block

  .votes
    margin-top: 15px
    display: block

    a:hover
      text-decoration: none

    .like, .dislike
      display: inline-block
      margin-right: 20px

    .like-count, .dislike-count
      display: inline-block
      margin-top: 5px

.recipe
  .styles, .ingredients
    margin-top: 10px
    margin-bottom: 10px