.col-md-4.ingredient
  .name.text-center
    %h2= category.name

  = image_tag category.image.url, class: 'medium-img'

  - if current_user&.admin?
    .actions.center
      = link_to 'Change image', category_images_path(category_id: category.slug), class: 'btn btn-primary center'