.form.row
  .col-md-6
    = form_for [@recipe, @review] do |f|
      .form-group
        = f.label :text,  'Text'
        = f.text_area :text, class: 'form-control'

      .actions
        = f.submit(@review.new_record? ? 'Create' : 'Update', class: 'btn btn-success')